# set kernel version
export TARGET_DEVICE=SC03E
export BUILD_MOD=Nian
export BUILD_VERSION=V1.0.0

# set build user and host
export KBUILD_BUILD_VERSION="1"
export KBUILD_BUILD_USER="Nian"
export KBUILD_BUILD_HOST="Nian-PC"

# set kernel option
export KERNEL_BASEADDRESS=0x40000000
case "$BUILD_TARGET" in
  "OMNI" ) export KERNEL_DEFCONFIG=cs_omni_v0.5_defconfig ;;
  "AOSP" ) export KERNEL_DEFCONFIG=cs_aosp_v0.5_defconfig ;;
esac

# ramdisk
if [ "$BUILD_TARGET" = 'OMNI' ]; then
  export RAMDISK_SRC_DIR=release-tools/omni/sc03e_boot_ramdisk
  export RAMDISK_TMP_DIR=/tmp/sc03e_boot_ramdisk
else
  export RAMDISK_SRC_DIR=release-tools/cm/sc03e_boot_ramdisk
  export RAMDISK_TMP_DIR=/tmp/sc03e_boot_ramdisk
fi


